meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="description", content="Личный блок Типотека")
title Типотека
block before_styles
link(rel="preload", as="font", crossorigin="anonymous", href="/fonts/Inter-Regular.woff2")
link(rel="preload", as="font", crossorigin="anonymous", href="/fonts/Inter-Medium.woff2")
link(rel="stylesheet", href="/css/style.min.css")
link(rel="stylesheet", href="/css/overrides.css")
block after_styles
