extends header-base

block header_content
  nav.header__nav
    ul.header__nav-list
      li.header__list-item
        a.header__registration(href="#") Публикации
      li.header__list-item
        a.header__enter.modal-toggle(href="/login") Вход с паролем
